@import '../../../styles/variables';

.container {
  padding: 0 3rem;

  .mainContent {
    padding-top: 5rem;

    h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 60px;
    }
    p {
      min-width: 400px;
      text-align: justify;
      font-weight: lighter;
      font-size: 16px;
    }

    .btnProduct {
      padding: 0.5rem 4rem;
      background: $black;
      color: $bodyMain;
      border-radius: 12px;
      border: none;
    }
  }

  .imageBox {
    padding: 0 1.25rem;
  }
}

.containerSm {
  .mainContentMobile {
    margin: 0 auto;
    h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 30px;
    }
    p {
      text-align: justify;
      font-weight: lighter;
      font-size: 10px;
    }

    .btnProduct {
      padding: 0.5rem 1rem;
      background: $black;
      color: $bodyMain;
      border-radius: 12px;
      border: none;
      display: inline-block;
    }
  }

  .boxImageSm {
    margin: 0 auto;
    text-align: center;
  }
}
