@import '../../../styles/variables';

.container {
  padding: 10rem 3rem 5rem;
  // transform: translateY(100px);

  .mainContent {
    padding-top: 5rem;

    h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 60px;
    }
    p {
      min-width: 400px;
      text-align: justify;
      font-weight: lighter;
      font-size: 16px;
    }
  }

  .imageBox {
    padding: 0 1.25rem;
  }
}

.containerSm {
  .mainContentMobile {
    margin: 0 auto;
    h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-size: 30px;
    }
    p {
      text-align: justify;
      font-weight: lighter;
      font-size: 10px;
    }

    .btnProduct {
      padding: 0.5rem 1rem;
      background: $black;
      color: $bodyMain;
      border-radius: 12px;
      border: none;
      display: inline-block;
    }
  }

  .boxImageSm {
    margin: 0 auto;
    text-align: center;
  }
}

.section {
  padding: 0 3rem;
  margin-top: 5rem;
  // transform: translateY(100px);

  // product

  .products {
    padding: 3rem 3rem;
    width: 100%;
  }

  .productTitle {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
  }

  // ABOUT
  .aboutTitle {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    /* identical to box height */

    letter-spacing: 0.05em;
    color: $black;
  }

  .aboutContent {
    h2 {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 61px;
      letter-spacing: 0.05em;
    }

    P {
      text-align: justify;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }

    h2,
    p {
      color: $black;
    }
  }

  .boxImg {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);

    .imgOne,
    .imgThree,
    .imgTwo,
    .imgFour {
      img {
        border-radius: 2rem;
      }
    }

    .imgOne {
      grid-area: 1/2/2/3;
    }
    .imgTwo {
      grid-area: 2/1/3/2;
      transform: translate(0, 3rem);
    }
    .imgThree {
      grid-area: 1/1/2/2;
      transform: translate(5.2rem, 1.5rem);
    }
    .imgFour {
      grid-area: 2/2/3/3;
    }
  }

  // contact
  .contactTitle {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
  }
  .contactBoxImg {
    display: flex;
    flex-direction: column;
    padding: 0;

    img {
      transform: scaleX(-1);
    }
  }

  .contactFormContent {
    background: #f3f3f3;
    padding: 3rem 4rem;
    text-align: center;

    h4 {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.05em;
      color: $black;
    }

    .formGroup {
      display: flex;
      flex-direction: column;
      justify-content: center;

      input,
      textarea,
      select {
        margin: 1rem 0;
        padding: 0.25rem;
        border: none;
        border-bottom: 1px solid $black;
        background: transparent;

        &:focus {
          outline: none;
        }
      }

      .submitBtn {
        padding: 0.2rem 2rem;
        margin: 0 auto;
        width: 180px;
        background: $black;
        color: #f3f3f3;
        border-radius: 8px;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .boxImg {
      gap: 0 2rem;
      .imgTwo {
        transform: translate(0, 3rem);
      }
      .imgThree {
        transform: translate(0rem, 1.5rem);
      }
    }
  }
}

.sectionSm {
  margin-top: 3rem;

  .products {
    padding: 3rem 3rem;
    width: 100%;
  }
  .productTitle {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
  }

  // ABOUT
  .aboutTitle {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    /* identical to box height */

    letter-spacing: 0.05em;
    color: $black;
  }

  .aboutContent {
    h2 {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 61px;
      letter-spacing: 0.05em;
    }

    P {
      text-align: justify;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }

    h2,
    p {
      color: $black;
    }
  }

  .boxImg {
    display: none;
  }

  // content
  .contactTitle {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
  }
  .contactBoxImg {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;

    img {
      transform: scaleX(-1);
    }
  }

  .contactFormContent {
    background: #f3f3f3;
    padding: 1rem;
    text-align: center;

    h4 {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.05em;
      color: $black;
    }

    .formGroup {
      display: flex;
      flex-direction: column;
      justify-content: center;

      input,
      textarea,
      select {
        margin: 1rem 0;
        padding: 0.25rem;
        border: none;
        border-bottom: 1px solid $black;
        background: transparent;

        &:focus {
          outline: none;
        }
      }

      .submitBtn {
        padding: 0.2rem 2rem;
        margin: 0 auto;
        width: 180px;
        background: $black;
        color: #f3f3f3;
        border-radius: 8px;
      }
    }
  }
}
