@import '../styles/variables';

.header {
  padding: 2rem 3rem;
  position: relative;
  z-index: 1;
  width: 100%;

  .navbarMiddle {
    text-align: center;
    color: $black;
    font-size: 18px;

    .navbar {
      span {
        margin: 0 1rem;
      }
    }
  }

  .btnBox {
    button {
      padding: 0.5rem 1rem;
      border-radius: 1rem;
    }

    .btnSignIn {
      margin-right: 8px;
      border: none;
      background: #6667de;
      color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.5);
      transition: all 0.5s ease;

      &:hover {
        //   background: ;
        background: #5656ff;
        color: #ffd5d5;
        transition: all 0.5s ease;
      }
    }
    .btnSignUp {
      border: 1px solid #6667de;
      background: transparent;
    }
  }
}

// header mobile
.headerMb {
  padding: 0;
  position: relative;

  .mobileNavbar {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 280px;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;

    ul {
      list-style: none;
      width: 100%;
      padding: 0;
      text-align: center;
      margin: 16px;
      opacity: 0;
      transition: all 1s ease;

      li {
        padding: 0.25rem 0;
        //   background: $black;
        color: $black;
      }
    }

    button {
      opacity: 0;
      transition: all 1s ease;
      display: block;
      width: 100%;
      padding: 8px 0;
      border-radius: 16px;
    }
  }
  .mobileNavbar.active {
    position: relative;
    background: $bodyMain;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding: 0 16px 16px;

    ul {
      opacity: 1;
      transition: all 1s ease;
    }

    button {
      opacity: 1;
      transition: all 1s ease;
    }
  }

  .btnSignIn {
    margin-top: 16px;
    border: none;
    background: #6667de;
    color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;

    &:hover {
      //   background: ;
      background: #5656ff;
      color: #ffd5d5;
      transition: all 0.5s ease;
    }
  }

  .btnSignUp {
    border: 1px solid #6667de;
    background: transparent;
  }
}

.mainContent {
  width: 100%;
  height: 100vh;
  margin-top: -145px;
  background: $bodyMain;
}
.mobileContent {
  padding: 1.25rem;
  margin-top: 0;
  background: $bodyMain;
}

.footer {
  background: $footer;
  width: 100%;

  .contactUs {
    h3 {
      margin-bottom: 1.5rem;
    }

    span {
      display: flex;
    }
  }

  .sosMed {
    h3 {
      margin-bottom: 1.5rem;
    }

    span {
      margin: 0 0.5rem;
    }
  }

  .company {
    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      text-align: justify;
    }
  }

  .partOne {
    padding: 2rem 4rem;
    border-bottom: 1px solid $black;
  }

  .copyright {
    padding: 1rem;
    color: $black;
    font-weight: 600;
  }
}

.footerSm {
  margin: 0 auto;
  background: $footer;

  .partOne {
    padding: 2rem 0;
    border-bottom: 1px solid $black;
    .contactUs {
      h3 {
        margin-bottom: 1.5rem;
      }

      span {
        display: flex;
        justify-content: center;
      }
    }

    .sosMed {
      h3 {
        margin-bottom: 1.5rem;
      }

      span {
        margin: 0 0.5rem;
      }
    }

    .companySm {
      h3 {
        margin-bottom: 1.5rem;
      }

      p {
        padding: 0 2rem;
        text-align: center;
        font-size: 12px;
      }
    }
  }

  .copyright {
    padding: 1rem;
    color: $black;
    font-weight: 600;

    p {
      font-size: 16px;
    }
  }
}
