@import '../styles/variables';

.header {
  // padding: 2rem 3rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 2000px;
  top: 0;

  .navbarMiddle {
    text-align: center;
    color: $black;
    font-size: 18px;

    .navbar {
      span {
        margin: 0 1rem;
        a {
          color: $black;
          text-decoration: none;
        }
      }
    }
  }

  .navMedsos {
    span {
      margin: 0 0.5rem;
      a {
        text-decoration: none;
        outline: none;
        background: none;
        color: #000;
      }
    }
  }
}

.logo {
  padding: 0 2rem;
}

.colorChange {
  background: $navbarChange;
  width: 100%;
  padding: 8px 2px;
  transition: all 1s ease;
}

// header mobile
.headerMb {
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  .mobileNavbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;

    ul {
      list-style: none;
      width: 100%;
      padding: 0;
      text-align: center;
      margin: 16px;
      opacity: 0;
      transition: all 1s ease;

      li {
        padding: 0.25rem 0;
        //   background: $black;
        color: $black;
      }
    }

    button {
      opacity: 0;
      transition: all 1s ease;
      display: block;
      width: 100%;
      padding: 8px 0;
      border-radius: 16px;
    }
  }
  .mobileNavbar.active {
    position: relative;
    background: $bodyMain;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding: 0 16px 16px;

    ul {
      opacity: 1;
      transition: all 1s ease;
    }

    button {
      opacity: 1;
      transition: all 1s ease;
    }
  }

  .navMedsos {
    span {
      margin: 0 0.5rem;
    }
  }
}

.bgFill {
  background: $navbarChange;
}

.mainContent,
.mobileContent,
.mainContentNormal {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: $bodyMain;
}

.mainContent {
  margin-top: -145px;
}

.mainContentNormal {
  margin-top: 100px;
  position: relative;
  background: #fff;
}

.mobileContent {
  padding: 1.25rem;
  margin-top: 80px;
}

.footer {
  background: $footer;
  width: 100%;

  .contactUs {
    h3 {
      margin-bottom: 1.5rem;
    }

    span {
      display: flex;
    }
  }

  .sosMed {
    h3 {
      margin-bottom: 1.5rem;
    }

    span {
      margin: 0 0.5rem;
      a {
        text-decoration: none;
        outline: none;
        background: none;
        color: #000;
      }
    }
  }

  .company {
    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      text-align: justify;
    }
  }

  .partOne {
    padding: 2rem 4rem;
    border-bottom: 1px solid $black;
  }

  .copyright {
    padding: 1rem;
    color: $black;
    font-weight: 600;
  }
}

.footerSm {
  margin: 0 auto;
  background: $footer;

  .partOne {
    padding: 2rem 0;
    border-bottom: 1px solid $black;
    .contactUs {
      h3 {
        margin-bottom: 1.5rem;
      }

      span {
        display: flex;
        justify-content: center;
      }
    }

    .sosMed {
      h3 {
        margin-bottom: 1.5rem;
      }

      span {
        margin: 0 0.5rem;
      }
    }

    .companySm {
      h3 {
        margin-bottom: 1.5rem;
      }

      p {
        padding: 0 2rem;
        text-align: center;
        font-size: 12px;
      }
    }
  }

  .copyright {
    padding: 1rem;
    color: $black;
    font-weight: 600;

    p {
      font-size: 16px;
    }
  }
}
