@import '../../../styles/variables';

.container {
  margin-top: 2rem;
  padding: 0 3rem 3rem;

  h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    /* identical to box height */

    letter-spacing: 0.05em;
    color: $black;

    margin-bottom: 3rem;
  }

  .statusContainer {
    padding: 0 3rem;
  }

  .productFilter,
  .productFilterSm {
    border: 1px solid #dfd3c3;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 0 12px 12px;
    padding: 0 2rem;
    background: transparent;
    // padding: 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      padding: 0 0.5rem;
      input,
      select {
        margin: 1.25rem 0;
        border: none;
        background: transparent;
        // border-bottom: 1px solid #000;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .productFilterSm {
    overflow-x: auto;
    padding: 0;
    align-items: center;
  }

  .productList,
  .productListSm {
    display: grid;
    grid-gap: 20px 0px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 0;
  }

  .productList {
    grid-template-columns: auto auto auto auto;
  }
  .productListSm {
    grid-template-columns: auto auto;
  }

  span {
    text-align: right;
  }
}
