@import '../../styles/variables';

.container {
  .boxImg {
    padding: 1rem 2rem;
    border: 1px solid #dfd3c3;
    border-radius: 12px;
    text-align: center;

    .boxImgChild {
      margin: 12px 0 0;
      display: flex;
      justify-content: center;

      span {
        margin: 0 0.25rem;
        background: #e8e8e8;
        border-radius: 12px;
        img {
          padding: 1.2rem;
        }
      }
    }

    .boxImgChildSm {
      display: flex;
      //   width: 200px;
      justify-content: center;
      overflow-x: auto;
      //   padding: 0 2rem;
      //   flex-direction: column;
      //   align-items: center;
    }
    span {
      //   width: 100px;
      text-align: center;
      margin: 0rem 0.2rem;
      background: #e8e8e8;
      border-radius: 12px;
    }
  }

  .content {
    padding: 3rem 4rem;

    h3 {
      color: $black;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: 0.05em;
    }
    h6 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.05em;
      color: #454545;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      text-align: justify;
      color: #454545;
    }
  }
}
