// Variables
@import 'variables';

body {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  content: '' !important;
}

.slick-slide {
  padding: 0 12px;
}
